<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8">

    <a href="{% url 'proyectos_c:proyectos_c' %}" class="block m-3 p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
        <div class="flex flex-col items-center text-center">
            <i class="fas fa-hard-hat text-8xl text-blue-600 mb-3"></i>
            <h3 class="text-lg font-semibold text-gray-800">Proyectos CC</h3>
        </div>
    </a>

    <a href="{% url 'proyectos_e:proyectos_e' %}" class="block p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
        <div class="flex flex-col items-center text-center">
            <i class="fas fa-wrench text-8xl text-green-600 mb-3"></i>
            <h3 class="text-lg font-semibold text-gray-800">Proyectos E</h3>
        </div>
    </a>

    <a href="#" class="block m-3 p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
        <div class="flex flex-col items-center text-center">
            <i class="fas fa-shield-alt text-8xl text-yellow-600 mb-3"></i>
            <h3 class="text-lg font-semibold text-gray-800">Proyectos SE</h3>
        </div>
    </a>

    <a href="#" class="block p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
        <div class="flex flex-col items-center text-center">
             <i class="fas fa-clipboard-list text-8xl text-purple-600 mb-3"></i>
            <h3 class="text-lg font-semibold text-gray-800">Proyectos CM</h3>
        </div>
    </a>

    <a href="#" class="block p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
        <div class="flex flex-col items-center text-center">
            <i class="fas fa-chart-bar text-8xl text-indigo-600 mb-3"></i>
            <h3 class="text-lg font-semibold text-gray-800">Reports</h3>
        </div>
    </a>

    <a href="#" class="block p-6 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
        <div class="flex flex-col items-center text-center">
            <i class="fas fa-sign-out-alt text-8xl text-red-600 mb-3"></i>
            <h3 class="text-lg font-semibold text-gray-800">Log out</h3>
        </div>
    </a>

</div>